* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

section {
  transition-duration: 0.5s;
  width: 100vw;
  background-color: blueviolet;
  text-align: center;
  padding: 30px;
}

section.bottom {
  background-color: chocolate;
  transform: translateY(100vh);
  height: 100vh;
  
}

section.is-visible {
  opacity: 1;
}

section:nth-child(2) {transition-delay: 0.2s;}
section:nth-child(3) {transition-delay: 0.4s;}
section:nth-child(4) {transition-delay: 0.6s;}
section:nth-child(5) {transition-delay: 0.8s;}

section:not(is-visible) {
  opacity: 0;
}

.preloader {
 position: fixed;
 z-index: calc(infinity);
 inset: 0;
 background-color: rebeccapurple;
 animation-name: fade-out;
 animation-duration: 3s;
 animation-iteration-count: 1;
 opacity: 0;
 pointer-events: none;
}

.preloader__in {
  position: absolute;
  inset: 0;
  background-color: chocolate;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: 1;
  clip-path: circle(75%);
}

@keyframes fade-out {
  0% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes circle {
  0% {clip-path: circle(75%);}
  50% {clip-path: circle(25%);}
  100% {clip-path: circle(75%);}
}