* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
}

.hat {
  width: 100%;
  background-color: darkorchid;
}

.hat-buttons {
  width: 100%;
  display: inline-block;
}

.message-ball {
  font-size: 20px;
  line-height: 200px;
  text-align: center;
}

.circle {
  transition-property: width, height;
  transition-duration: 2s;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  border-radius: 50%;
}

.box {
  --border-color: red;

  background-color: aquamarine;
  border: 5px solid var(--border-color);
  height: 100px;
  width: 100px;
  margin: 10px;
  overflow: auto;
}

.outerBox {

  background-color: blueviolet;
  border: 5px solid black;
  border-radius: 5%;
  width: 100px;
  margin-left: 10px;
  overflow: auto;
}

.innerBox {

  background-color: green;
  border: 5px solid black;
  border-radius: 5%;
  height: 50px;
  margin: 10px;
  overflow: auto;
  padding: 30px;
}

.yellows {
    background-color: yellow !important;

}

.big {
    width: 200px;
}